<?xml version="1.0" encoding="utf-8"?>
<manifest package="app.rockkworld"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".com.mproject.RockkWorldApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".com.mproject.activities.RSplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".com.mproject.activities.SignUpActivity"
            android:label="@string/title_activity_sign_up">
        </activity>
        <activity
            android:name=".com.mproject.activities.WallActivity"
            android:label="@string/title_activity_wall">

        </activity>
        <activity
            android:name=".com.mproject.activities.ProfileActivity"
            android:label="@string/title_activity_wall">

        </activity>
    </application>

</manifest>
